*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh ;
    width:100vw ;
}
.containerCardCharacter{
    height:100% ;
    width:80% ;
    display: flex;
    margin: auto ;
    flex-direction: row;
    background-color: rgb(210, 235, 219);
    padding: 5%;
}
.playerInformation{
    height:100% ;
    width: 100%;
}
.selectImg{
    height:80% ;
    width:100%;
}
.slectingImg{
    height: 80% ;
    width: 100%;
    /* display: flex; */
    background-color: black
}
.btn{
    padding: 0.5rem 0;
    width: 40%;
    background-color: rgb(102, 217, 217);
}
.slectingImg{
}
.finish{
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 15%;
    left: 40%;
    width: 20%;
}
.carcterBtns{
    justify-content:space-around;
    display: flex;
    margin-top: 2rem;
}



#image {
    width: 100%;
}








