*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('../imgs/locations/img-4.jpg');
    align-items: center;
  }

  .combat-container { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
  } 
  .cards-section { 
    display: flex; 
    justify-content: center; 
    width: 100%; 
    margin-top: 50px; 
    flex-wrap: wrap; 
  } 
  .card { 
    background-color: #f2f2f2; 
    width: 40%; 
    height: 400px; 
    border-radius: 10px; 
    margin: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 2px 2px #888888; 
  } 
  .card img { 
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-bottom: 20px; 
  } 
  .btns-section { 
    display: flex; 
    justify-content: center; 
    width: 100%; 
    margin-top: 50px; 
  } 
  button { 
    background-color: #4CAF50; 
    color: white; 
    padding: 14px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    margin: 20px; 
  } 
  .attacking { 
    border: 2px solid red; 
    background: brown;
    color:white;
    
  } 
  @media only screen and (max-width: 767px) { 
    .card { 
      width: 80%; 
    } 
    .btns-section { 
      display: flex; 
      justify-content: center; 
      width: 100%; 
      margin-top: 20px; 
      flex-direction: column; 
    } 
  } 

